<div class="border border-5 border-half-red">
    <div class="about-page-container d-flex flex-column-reverse flex-lg-row justify-content-around">
        <div class="col-12 col-lg-5 bhistory">
            <h2>A Brief Introduction</h2>
            <div class="text-primary">
            Chinese American Librarians Association (CALA) started March 31, 1973 by Dr. Tze-Chung Li and Dorothy Li, as
            Mid-West Chinese American Librarians Association, a regional organization in Illinois. A year later, Chinese
            Librarians Association was formed in California in 1974. In 1976, Mid-West Chinese American Librarians
            Association was expanded to a national organization as Chinese American Librarians Association. By 1979,
            CALA had five chapters in Northeast, Mid-West, Atlantic, Southwest and California respectively. Chinese
            American Librarians Association and Chinese Librarians Association were merged in 1983. The merged
            organization retains CALA’s English name and Chinese Librarians Association’s Chinese name 華人圖書館員協會. CALA is
            a registered nonprofit organization with 501(c)3 tax exempt status. Currently, CALA has nine chapters as
            follows: Greater Mid-Atlantic (GMA), Midwest Chapter (MW), Northeast Chapter (NE), Northern California
            Chapter (NCA), Southern California Chapter (SCA), Southeast Chapter (SE), Southwest Chapter (SW), Canada
            Chapter and Asia-Pacific Chapter (AP).</div>
        </div>
        <div class="col-12 col-lg-5 about-content d-flex flex-column justify-content-between mb-5 mb-lg-0">
            <h1 class="about-title">About CALA</h1>
            <p id="about-cala">CALA is an affiliate of American Library Association, IFLA (International Federation of Library
                Associations Institutions) and JCLC (Joint Council of Librarians of Color)</p>
                <div class="d-flex flex-column">
                    <p>CALA Brochure <a href="https://cala.wildapricot.org/resources/public/2023/2023-11_Brochure_EN.pdf">English Version</a> (updated November 2023)</p>
                    <p>CALA 介绍手册 <a href="https://cala.wildapricot.org/resources/public/2023/2023-11_Brochure_CN.pdf">中文版</a> (更新于2023年11月)</p>
                   <p> CALA Strategic Plan <a href=" https://cala.wildapricot.org/resources/public/CALA2025StrategicPlan.pdf">2020-2025 </a> </p>
                    <p>Contact <a href="mailto:exc@cala-web.org">CALA Executive Committee</a></p>
                </div>
        </div>
    </div>
</div>
