<div class="accordion accordion-flush" id="accordionflushExample">
  {% assign bylaws-content = site.bylaws %} {% for bylaw in bylaws-content %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="flash-{{bylaw.accordionId}}">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flash-{{bylaw.collapseId}}"
        aria-expanded="false"
        aria-controls="flash-{{bylaw.collapseId}}">
        {{ bylaw.title }}
      </button>
    </h2>
    <div
      id="flash-{{bylaw.collapseId}}"
      class="accordion-collapse collapse"
      aria-labelledby="flash-{{bylaw.accordionId}}"
      data-bs-parent="#accordionflashExample">
      <div class="accordion-body">{{ bylaw.content | markdownify }}</div>
    </div>
  </div>
  {% endfor %}
</div>
