<footer id="site-footer" class="footer">
  {% include scripts.html %}

  <hr class="mb-0" style="border: 1px solid #941728; opacity: 1" />
  <hr style="border: 3px solid #941728; margin: 0.2em 0em 0.6em; opacity: 1" />

  <div class="d-flex flex-column flex-md-row p-3 container justify-content-between" id="footer-content">
    <div class="d-sm-block">
      <h3 class="footer-header">External Links</h3>
      <ul class="list-unstyled d-flex">
        <div class="col-6">
          <li class="mb-2"><a href="https://www.ala.org/">American Library Association</a></li>
          <li class="mb-2"><a href="https://ailanet.org/">American Indian Library Association</a></li>
          <li class="mb-2"><a href="https://www.jclcinc.org/">Joint Council of Librarians of Color</a></li>
          <li class="mb-2"><a href="https://www.apalaweb.org/">Asian/Pacific American Librarians Association</a></li>
          <li class="mb-2"><a href="https://www.bcala.org/">Black Caucus American Library Association</a></li>
        </div>
        <div class="col-6">
          <li class="mb-2"><a href="https://retired.cala-web.org/links/china-us-conf">China-US Library Conference</a></li>
          <li class="mb-2"><a href="https://www.reforma.org/">The National Association to Promote Library & Inforamtion
              Services to Latinos and the Spanish Speaking</a></li>
          <li class="mb-2"><a href="https://www.ifla.org/">International Federation of Library Association and
              Institutions</a></li>
        </div>
      </ul>
    </div>
  </div>

  <!-- red line row -->
  <div class="bg-primary text-white">
    <div class="container">
      <p class="d-inline-flex fs-6 my-0 me-5">
        <small> Copyright 2008-{{ site.time | date: '%Y' }} CALA. All Rights Reserved. </small>
      </p>
      <p class="d-inline-flex fs-6 m-0">
        <small>
          Got questions or suggestions?
          <span><a href="https://cala-web.org/contact" class="text-white text-decoration-underline">Please let us
              know!</a></span>
        </small>
      </p>
      <ul class="list-unstyled me-2 d-inline-flex flex-row col-6 col-sm-4 col-xl-2 justify-content-between float-end">
        <li class="nav-item">
          <a class="nav-link text-white active" aria-current="page"
            href="https://www.facebook.com/pages/CALA-Chinese-American-Librarians-Association/281336511932864"><i
              class="fa-brands fa-facebook"></i><label class="visually-hidden">CALA Facebook</label></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="http://www.linkedin.com/groups/12047408"><i
              class="fa-brands fa-linkedin"></i><label class="visually-hidden">CALA LinkedIn</label></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="https://twitter.com/CalaNational"><i
              class="fa-brands fa-twitter"></i><label class="visually-hidden">CALA Twitter</label></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="https://ir.cala-web.org/""><i class=" fa-solid fa-floppy-disk"></i><label
              class="visually-hidden">CALA SYS</label></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="https://cala-web.org/""><i class=" fa-solid fa-earth-americas"></i><label
              class="visually-hidden">CALA Old Website</label></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="https://cala.wildapricot.org/"><i class="fa-solid fa-user"></i><label
              class="visually-hidden">CALA intranet</label></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
