<footer id="site-footer" class="footer">
  {% include scripts.html %}

  <hr class="mb-0" style="border: 1px solid #941728; opacity: 1" />
  <hr style="border: 3px solid #941728; margin: 0.2em 0em 0.6em; opacity: 1" />

  <div class="d-flex flex-column flex-md-row p-3 container justify-content-between" id="footer-content">
    <div class="col-3 d-sm-block">
      <h3 class="footer-header">External Links</h3>
      <ul class="list-unstyled justify-content-between">
        <li class="mb-2"><a href="https://www.ala.org/">ALA</a></li>
        <li class="mb-2"><a href="https://ailanet.org/">AILA</a></li>
        <li class="mb-2"><a href="https://www.apalaweb.org/">APALA</a></li>
        <li class="mb-2"><a href="https://www.bcala.org/">BCALA</a></li>
        <li class="mb-2"><a href="https://cala-web.org/links/china-us-conf">China-US Library Conference</a></li>
        <li class="mb-2"><a href="https://www.reforma.org/">REFORMA</a></li>
        <li class="mb-2"><a href="https://www.ifla.org/">IFLA</a></li>
      </ul>
    </div>

    <div class="col-5 d-sm-block">
      <h3 class="footer-header">ALA News</h3>
      <ul class="list-unstyled ala-news"></ul>
    </div>
  </div>

  <!-- red line row -->
  <div class="bg-primary text-white">
    <div class="container">
      <p class="d-inline-flex fs-6 my-0 me-5">
        <small> Copyright 2008-{{ site.time | date: '%Y' }} CALA. All Rights Reserved. </small>
      </p>
      <p class="d-inline-flex fs-6 m-0">
        <small>
          Got questions or suggestions?
          <span><a href="https://cala-web.org/contact" class="text-white text-decoration-underline">Please let us
              know!</a></span>
        </small>
      </p>
    </div>
  </div>
</footer>