<div id="carouselExampleIndicators" class="carousel slide border border-5 border-half-red p-3 d-flex align-items-center shadow" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    {% for slide in site.index-carousel %} {% if forloop.index == 1 %}
    <div class="carousel-item active">
      {% else %}
      <div class="carousel-item">
        {% endif %}
        <div class="d-flex flex-column flex-xl-row">
          <div class="w-50 d-none d-xl-flex justify-content-center">
            <img src="{{slide.img}}" class="img-fluid" alt="{{ slide.title }}" />
          </div>
          <div class="border-start border-1 border-primary d-none d-xl-block"></div>
          <div class="align-self-center text-center" id="carousel-description">
            <div class="text-center text-xl-left">
              <p class="text-muted fs-4 lead"><strong>{{ slide.category }}</strong></p>
              <p class="fw-normal my-5 display-1 text-primary px-5" id="respon-title">{{ slide.title }}</p>
              {% if slide.readMoreLink %}
              <a class="btn btn-primary" href="{{ slide.readMoreLink }}" role="button"> {{ slide.readMoreText | default:
                "Content coming soon" }} </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
    <a class="carousel-control-prev d-flex align-items-end" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="text-info bg-white p-2 mb-5 rounded-2" aria-hidden="true"><i class="fa-solid fa-arrow-left"></i>
        Previous</span>
    </a>
    <a class="carousel-control-next d-flex align-items-end" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="text-info bg-white p-2 mb-5 rounded-2" aria-hidden="true">Next <i
          class="fa-solid fa-arrow-right"></i></span>
    </a>
  </div>
</div>