<nav class="nav bg-primary d-none d-md-block">
  <div class="container-fluid text-center">
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <a class="nav-link text-white" href="/">Home</a>
        <a class="nav-link text-white" href="/about">About</a>
        <a class="nav-link text-white" href="/resource">Resource</a>
        <a class="nav-link text-white" href="/membership">Membership</a>
      </div>


      <div class="d-flex justify-content-between">
        <a class="nav-link text-white" href="https://www.facebook.com/pages/CALA-Chinese-American-Librarians-Association/281336511932864"><i class="fa-brands fa-facebook"></i><label class="visually-hidden">CALA Facebook</label></a>
        <a class="nav-link text-white" href="http://www.linkedin.com/groups/12047408"><i class="fa-brands fa-linkedin"></i><label class="visually-hidden">CALA LinkedIn</label></a>
        <a class="nav-link text-white" href="https://ir.cala-web.org/""><i class="fa-solid fa-floppy-disk"></i><label class="visually-hidden">CALA SYS</label></a>
        <a class="nav-link text-white" href="https://cala-web.org/""><i class="fa-solid fa-earth-americas"></i><label class="visually-hidden">CALA Old Website</label></a>
        <a class="nav-link text-white" href="https://cala.wildapricot.org/"><i class="fa-solid fa-user"></i><label class="visually-hidden">CALA intranet</label></a>
      </div>
    </div>
  </div>

</nav>

 <!-- Responsive Design -->
 <nav class="navbar navbar-expand-lg d-block d-md-none bg-primary navbar-dark">
  <div class="d-flex justify-content-between">
    <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-2 mt-2" id="navbarTogglerDemo01">
      <a class="navbar-brand text-white" href="#">Browse</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/resource">Resource</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/membership">Membership</a>
        </li>
      </ul>
    </div>
    </div>

    <div class="d-flex justify-content-between">
      <a class="nav-link text-white mx-2" href="https://www.facebook.com/pages/CALA-Chinese-American-Librarians-Association/281336511932864"><i class="fa-brands fa-facebook align-bottom"></i><label class="visually-hidden">CALA Facebook</label></a>
      <a class="nav-link text-white mx-2" href="http://www.linkedin.com/groups/12047408"><i class="fa-brands fa-linkedin align-bottom"></i><label class="visually-hidden">CALA LinkedIn</label></a>
      <a class="nav-link text-white mx-2" href="https://ir.cala-web.org/""><i class="fa-solid fa-floppy-disk align-bottom"></i><label class="visually-hidden">CALA SYS</label></a>
      <a class="nav-link text-white mx-2" href="https://cala-web.org/""><i class="fa-solid fa-earth-americas align-bottom"></i><label class="visually-hidden">CALA Old Website</label></a>
      <a class="nav-link text-white mx-2" href="https://cala.wildapricot.org/"><i class="fa-solid fa-user align-bottom"></i><label class="visually-hidden">CALA intranet</label></a>
    </div>
  </div>
</nav>