<div
  id="carouselExampleSlidesOnly"
  class="carousel slide"
  data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-block w-100 h-image">
        <div class="mem-hero d-flex justify-content-center align-items-center">
          <div class="d-flex flex-column justify-content-between mem-content">
            <h1>Membership</h1>
            <div
              class="d-flex flex-column justify-content-around align-items-center">
              <a
                class="btn btn-dark"
                href="https://cala.wildapricot.org/join-us"
                >Join or Renew</a
              >
              <p class="mt-2">
                Already a member?
                <span
                  ><a
                    href="https://cala.wildapricot.org/Sys/Login"
                    class="text-warning"
                    >Login</a
                  ></span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
