<div class="d-flex flex-column-reverse flex-md-row-reverse">
    {% for news in site.news-letter %}
    {% if news.title == "Latest Issue" %}
    <div class="col-md-3 align-self-center">
        <h3 class="h5">
            {{news.title}}
        </h3>
        <p class="text-primary">
            {{news.publish-date}}
        </p>
        <a href="{{news.download}}">
        <img src="{{news.cover-img}}" alt="{{news.publish-date}}" class="img-fluid" width="250px" /></a>
    </div>
    {% elsif news.title == "landing" %}
    <div class="col align-self-center offset-1">
        {{news.content}}
        <h3 class="h6 mt-5 text-secondary">Past Issues (Click links to download)</h3>
        <div class="d-flex flex-row-reverse">
            {% for news in site.news-letter %}
            {% if news.title != "landing" and news.title != "Latest Issue" %}
            <div class="col">
                <span class="lead">{{news.title}}</span>
               {{news.content}}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>