<div class="d-flex flex-row-reverse">
    {% for news in site.news-letter %}
    {% if news.title != "landing" %}
    <div class="col-3">
        <h3 class="h5">
            {{news.title}}
        </h3>
        <p class="text-primary">
            {{news.publish-date}}
        </p>
        <img src="{{news.cover-img}}" alt="{{news.publish-date}}" class="img-fluid" width="300px"/>
    </div>
    {% else %}
    <div class="col align-self-center">
        {{news.content}}
    </div>
    {% endif %}
    {% endfor %}
</div>