<table class="table table-striped-columns table-hover">
    <tbody>
        <tr>
            <td>
                Alpha Chapter
            </td>
            <td>
                Ford, Barbara
            </td>
            <td>
                Packard, Jerome
            </td>
            <td>
                Song, Xiaodong
            </td>
            <td>
                Ye, Siping
            </td>
        </tr>
        <tr>
            <td>
                Bao, Yanqing<br/>
                Jianmin Jin
            </td>
            <td>
                Jiang, Shuyong
            </td>
            <td>
                Poulosky, Paul R.<br/>
                Laura J. Poulosky
            </td>
            <td>
                Soo, Hermia G.
            </td>
            <td>
                Yen, Ruth
            </td>
        </tr>
        <tr>
            <td>
                Benmamoun, Elabbas<br/>
                Liang Wang
            </td>
            <td>
                Gao, Xing<br/>
                Xiuyan He
            </td>
            <td>
                Qi, Xiaoping<br/>
                Mingming Peng
            </td>
            <td>
                Su, Feiteng<br/>
                Deqi Kong
            </td>
            <td>
                Yu, George<br/>
                Priscilla
            </td>
        </tr>
        <tr>
            <td>
                Block, Jane<br/>
                Paul Kruty
            </td>
            <td>
                Hueting, Gail P.
            </td>
            <td>
                Qiu, Caian<br/>
                Tang, Weijia
            </td>
            <td>
                Sun, Xiaojing
            </td>
            <td>
                Yu, Jie<br/>
                Xiaoxia Wang
            </td>
        </tr>
        <tr>
            <td>
                Cao, Shuwen<br/>
                Li Zhang
            </td>
            <td>
                Kaufman, Paula
            </td>
            <td>
                Quinn, Chris
            </td>
            <td>
                Tsai, Kevin
            </td>
            <td>
                Xia, Wei<br/>
                Edgren, J. S.
            </td>
        </tr>
        <tr>
            <td>
                Chang, Chen-Chuan<br/>
                Wen-Lin Wu
            </td>
            <td>
                Lei, Shanbhag
            </td>
            <td>
                Ruan, Lian<br/>
                Zhong-Jin Ruan
            </td>
            <td>
                Wang, Steve<br/>
                Yimin Fang
            </td>
            <td>
                Xu, G. Gary<br/>
                Eva C. Liu
            </td>
        </tr>
        <tr>
            <td>
                Chen, Jian
            </td>
            <td>
                Li, Kathy
            </td>
            <td>
                Schnuer, Richard
            </td>
            <td>
                Wang, Yu<br/>
                Kang Xiang
            </td>
            <td>
                Zhang, Haihui
            </td>
        </tr>
        <tr>
            <td>
                Chen, Pingjian<br/>
                Shicai Wang
            </td>
            <td>
                Liang, Lixia<br/>
                Liu Xiaoyan
            </td>
            <td>
                Schutz, Ginger
            </td>
            <td>
                Wei, Karen
            </td>
            <td>
                Zhang, Tong<br/>
                Ximing Cai
            </td>
        </tr>
        <tr>
            <td>
                Chen, Xiaoling
            </td>
            <td>
                Liang, Xin-zhong<br/>
                Shengfang Chen
            </td>
            <td>
                Sha, Lui<br/>
                Shircey Sha
            </td>
            <td>
                Wei, Tam
            </td>
            <td>
                Zhang, Xuehua
            </td>
        </tr>
        <tr>
            <td>
                Chen, Xiulan<br/>
                Shihu Ge
            </td>
            <td>
                Liu, Bo<br/>
                Zhipei Liang
            </td>
            <td>
                Shih, Chuan-Kang<br/>
                Liping Wang
            </td>
            <td>
                Wright, Joyce
            </td>
            <td>
                Zheng, Jiayi
            </td>
        </tr>
        <tr>
            <td>
                Chen, Yahsin
            </td>
            <td>
                Liu, Kuo-ping
            </td>
            <td>
                Shaw, Crystal C.<br/>
                Michael J. P. Shaw
            </td>
            <td>
                Wu, Martin<br/>
                Yi-Lin Wu
            </td>
            <td>
                 
            </td>
        </tr>
        <tr>
            <td>
                Cheng, Chifan
            </td>
            <td>
                Lu, Mei<br/>
                Jimmy Hsia
            </td>
            <td>
                Simpson, Fung-yin Kuo
            </td>
            <td>
                Wu, Yiyi<br/>
                Chen Jiefang
            </td>
            <td>
                 
            </td>
        </tr>
        <tr>
            <td>
                Cheng, Penny
            </td>
            <td>
                Luo, Manling
            </td>
            <td>
                Smith, Linda
            </td>
            <td>
                Yao, Chunlan<br/>
                Lee Hanjie
            </td>
            <td>
                 
            </td>
        </tr>
        <tr>
            <td>
                Cheng, Jianjun<br/>
                Shao Dan
            </td>
            <td>
                Namachchivaya, Beth Sandore
            </td>
            <td>
                Song, Renmin<br/>
                Guo, Junge
            </td>
            <td>
                Yao, Ruiliang<br/>
                Guirong Wang
            </td>
            <td>
                 
            </td>
        </tr>
        <tr>
            <td>
                Chuang, Shun-Lien<br/>
                Shu-Jung Chuang
            </td>
            <td>
                Oono, Yoshitsugu Yuriko Oono
            </td>
            <td> 
            </td>
            <td>
                Yau, Vincent<br/>
                Mimi Yau
            </td>
            <td>
            </td>
        </tr>
    </tbody>
</table>