---
---

@import "../node_modules/rfs/scss";
// Base styles (To override Bootstrap)
$primary: #be2239;
$primary-hover: #811726;
$primary-disabled: #ed8f9c;
$primary-half-opacity: rgba(190, 34, 57, 0.5);

$success: #61a51d;
$success-hover: #467320;
$success-disabled: #6ecb83;

$info: #0f89bf;
$info-hover: #0f5473;
$info-disabled: #5cb3d9;

$warning: #ed8a26;
$warning-hover: #ba6c1e;
$warning-disabled: #f2b67b;

$link-color: $info;

h1 {
  padding-bottom: 1rem;
}

.title-dec {
  text-align: center !important;
  position: relative;
  margin: 5rem 0 !important;
  .hrline {
    border-bottom-style: double;
    border-width: thick;
    border-bottom-color: var(--bs-primary);
  }
  .x-comp {
    position: absolute;
    font-size: 2rem;
    color: var(--bs-primary);
    right: 50%;
    transform: translate(0, -35%);
  }
}

* {
  font-family: Helvetica Neue, Arial, sans-serif;
}

// Border with 0.5 red opacity
.border.border-half-red {
  border-color: $primary-half-opacity !important;
}

.display-1 {
  @include font-size(2.5rem);
}

#respon-title{
  @include font-size(4.5rem !important);
}

//Footer

@import '../node_modules/bootstrap/scss/bootstrap';
