---
layout: default
custom-css: about
custom-js: about
heroComp: "about-carousel.html"
---

{% assign about-pages = site.about | sort: "order" %}
{% for about-content in about-pages %}

{% if forloop.last %}
<h2 class="title-dec display-4 text-primary text-center">
  <span class="hrline text-primary pb-2"> {{about-content.title}}</span>
</h2>

{% assign year-range-1 = site.data.committee-1 %}
{% assign year-range-2 = site.data.committee-2 %}
<div class="col-12 d-flex flex-row justify-content-around">
  <ul>
    <li><a href="https://cala.wildapricot.org/2023-2024_committees-officers">2023-2024 Committees</a></li>
    {% for every-year in year-range-1 %}
    <li>
      <a href="/about/committee/{{every-year.year}}">
        {{ every-year.year }} Committees</a>
    </li>
    {% endfor %}
    {% for every-year in year-range-2 %}
    <li>
      <a href="/about/committee/{{every-year.year}}">
        {{ every-year.year }} Committees</a>
    </li>
    {% endfor %}
  </ul>
  <ul>
    {% assign year-range = site.data.officer %}
    {% for every-year in year-range %}
    <li>
      <a href="/about/officer/{{every-year.year}}">
        {{ every-year.year }} Officers</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% else %}
<h2 class="title-dec display-4 text-primary text-center">
  <span class="hrline text-primary pb-2"> {{about-content.title}}</span>
</h2>
<div>
  {{about-content.content | markdownify}}
</div>

{% endif %}
{% endfor %}
