<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{% include head.html %}

<body>

  <a class="visually-hidden-focusable" href="#main-content">Skip to main content</a>

  {% include mainnav.html %}

  <div class="container-fluid mt-4">
    {% capture compo %}{{ layout.heroComp }}{% endcapture %}
    {% if compo != '' %}
      {% include {{ layout.heroComp }} %}
    {% endif %}
    
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 my-4" id="main-content">

        {{ content }}

      </div>
    </div>
  </div>

  {% include footer.html %}

</body>

</html>