---
layout: default
custom-css: index
custom-js: index
heroComp: "index-carousel.html"
---
<article>
    <h2 class="title-dec display-4 text-primary text-center">
    <span class="hrline text-primary pb-2">[Note: Content updates will be at the new Intranet site at https://cala.wildapricot.org only.] </span>
  </h2>
  <h2 class="title-dec display-4 text-primary text-center">
    <span class="hrline text-primary pb-2"> News Spotlight </span>
  </h2>
  {{ content }}
</article>

<article class="mt-5">
  <h2 class="title-dec display-4 text-primary text-center">
    <span class="hrline text-primary pb-2">In Support of CALA </span>
  </h2>
  <div class="d-flex justify-content-center px-5 flex-column flex-lg-row">
    {%for support in site.index-support%}
    <div class="card col mx-4 px-0 my-4 my-lg-0">
      <div class="card-header bg-white text-center fs-1 py-3">
        {{support.title}}
      </div>
      <div class="card-body d-flex flex-column justify-content-center align-items-center">
        {% if support.pgContent %} 
        <p class="text-center">{{ support.pgContent }}</p>
        {% endif %} 
        {% if support.img %}
        <a href="{{ support.link}}">
          <img src="{{support.img }}" class="card-img-top px-3" alt="{{support.title}}" /></a>
        {% endif %} {% if support.icon %}
        <a href="{{ support.link}}"> {{ support.icon }} </a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</article>

<article>
  <h2 class="title-dec display-4 text-primary text-center">
    <span class="hrline text-primary pb-2">Membership</span>
  </h2>

  <div class="list-group d-block d-md-none d-lg-none">
    <a href="https://cala.wildapricot.org/join-us" class="list-group-item list-group-item-action">Join or Renew</a>
    <a href="#" class="list-group-item list-group-item-action">Why Join CALA?</a>
    <a href="#" class="list-group-item list-group-item-action">Membership Categories</a>
    <a class="list-group-item list-group-item-action disabled">Volunteers Needed</a>
  </div>

  <div class="membership-container justify-content-center d-none d-md-flex d-lg-flex">
    <div class="tab-content col-8 left-comp" id="v-pills-tabContent">
      <div class="tab-pane fade show px-sm-2 active" id="v-pills-join-renew" role="tabpanel"
        aria-labelledby="v-pills-home-tab" tabindex="0">
        <h3>Join or Renew</h3>
        <h4><a href="https://cala.wildapricot.org/join-us">Link</a></h4>
        <p class="d-none d-md-block">
          As one of the major ALA affiliated associations, CALA is the only
          professional organization in North America that 1) promotes better
          communication among Chinese American librarians; 2) serves as a forum
          for the discussion of mutual problems and professional concerns among
          Chinese American librarians; and 3) promotes the development of
          Chinese and American librarianship with scholarships and grants.
        </p>
      </div>
      <div class="tab-pane fade px-sm-2" id="v-pills-why-join" role="tabpanel" aria-labelledby="v-pills-profile-tab"
        tabindex="0">
        <h3>Why Join</h3>
        <h4><a href="">Link</a></h4>
        <p class="d-none d-md-block">
          As one of the major ALA affiliated associations, CALA is the only
          professional organization in North America that 1) promotes better
          communication among Chinese American librarians; 2) serves as a forum
          for the discussion of mutual problems and professional concerns among
          Chinese American librarians; and 3) promotes the development of
          Chinese and American librarianship with scholarships and grants.
        </p>
      </div>
      <div class="tab-pane fade px-sm-2" id="v-pills-membership" role="tabpanel" aria-labelledby="v-pills-messages-tab"
        tabindex="0">
        <h3>Membership Categories</h3>
        <h4><a href="">Link</a></h4>
        <p class="d-none d-md-block">
          There are several categories of membership. The determination of
          categories/dues and the changes thereafter shall be approved by the
          Board with a simple majority before Association election each year.
          The annual membership dues for each category are posted on CALA’s
          website.
        </p>
      </div>
      <div class="tab-pane fade px-sm-2" id="v-pills-volunteers" role="tabpanel" aria-labelledby="v-pills-settings-tab"
        tabindex="0">
        <h3>Volunteers Needed</h3>
        <h4><a href="">Link</a></h4>
        <p class="d-none d-md-block">
          CALA members are encouraged to get involved in the Association's
          management. Volunteering to serve on a committee or task force would
          be a great opportunity to help keeping the association live and gain
          professional experiences.
        </p>
      </div>
    </div>
    <div class="flex-column col-3 right-comp">
      <ul class="nav me-3 membership-list" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <li class="mem nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-join-renew"
          type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
          <div>Join or Renew</div>
          <i class="fa-solid fa-square-plus d-none d-md-inline d-lg-inline"></i>
        </li>
        <li class="mem nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-why-join"
          type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
          <div>Why join CALA?</div>
          <i class="fa-regular fa-square-plus d-none d-md-inline d-lg-inline"></i>
        </li>
        <li class="mem nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-membership"
          type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">
          <div>Membership Categories</div>
          <i class="fa-regular fa-square-plus d-none d-md-inline d-lg-inline"></i>
        </li>
        <li class="mem nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-volunteers"
          type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
          <div>Volunteers Needed</div>
          <i class="fa-regular fa-square-plus d-none d-md-inline d-lg-inline"></i>
        </li>
      </ul>
    </div>
  </div>
</article>
