---
layout: default
heroTop: true
custom-css: membership
---

<section>
  <div class="container-fluid">
    <article>
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-block w-100 h-image">
              <div class="mem-hero d-flex justify-content-center align-items-center">
                <div class="d-flex flex-column justify-content-between mem-content">
                  <h3>Membership</h3>
                  <div class="d-flex flex-column justify-content-around align-items-center">
                    <a class="btn btn-dark">Join or Renew</a>
                    <p class="mt-2">
                      Already a member? <span><a href="#">Login</a></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>

    <article>
      <h2 class="display-4 h2-flex">
        <span class="hrline text-primary pb-2">Why Join CALA?</span>
      </h2>
      <div class="container d-flex justify-content-around">
        <div
          class="card shadow-sm p-3 mb-5 bg-body rounded"
          style="width: 18rem"
        >
          <img
            src="../assets/images/pexels-chait-goli-1798130.jpg"
            class="card-img-top why-join img-thumbnail"
            alt="chait-goli"
          />
          <div class="card-body">
            <p class="card-text">
              promotes better communication among Chinese American librarians;
            </p>
          </div>
        </div>
        <div
          class="card shadow-sm p-3 mb-5 bg-body rounded"
          style="width: 18rem"
        >
          <img
            src="../assets/images/pexels-ketut-subiyanto-4350093.jpg"
            class="card-img-top why-join img-thumbnail"
            alt="subiyanto"
          />
          <div class="card-body">
            <p class="card-text">
              serves as a forum for the discussion of mutual problems and
              professional concerns among Chinese American librarians;
            </p>
          </div>
        </div>
        <div
          class="card shadow-sm p-3 mb-5 bg-body rounded"
          style="width: 18rem"
        >
          <img
            src="../assets/images/pexels-vantha-thang-4459814.jpg"
            class="card-img-top why-join img-thumbnail"
            alt="scholarships"
          />
          <div class="card-body">
            <p class="card-text">
              promotes the development of Chinese and American librarianship
              with scholarships and grants.
            </p>
          </div>
        </div>
      </div>
    </article>

    <artcile>
      <div class="mem-quote p-2 my-5">
        <i class="fa-solid fa-quote-left quote-symbol"></i>
        <figure class="text-center my-5">
          <blockquote class="blockquote">
            <p>
              Any individual or corporate body interested in the purpose of the
              Association may become a member upon payment of the dues as
              provided for in the <span><a href="#">Bylaws</a></span
              >.
            </p>
          </blockquote>
          <figcaption class="blockquote-footer my-3">
            <a href="#">
              Constitution <cite title="Source Title">Article III</cite>
            </a>
          </figcaption>
        </figure>
      </div>
    </artcile>

    <article>
      <h2 class="display-4 h2-flex">
        <span class="hrline text-primary pb-2">Membership Types</span>
      </h2>
      <div
        class="types-container container overflow-scroll border-1 rounded p-5"
      >
        <div class="d-flex types justify-content-between">
          {%for type in site.membership%} {%if type.title == 'membership'%}
          {%continue%} {%else%}
          <div
            class="card shadow-sm p-3 mb-5 bg-body rounded"
            style="width: 18rem"
          >
            <div class="type-icon text-center">{{type.icon}}</div>
            <div class="card-body">
              <h5 class="card-title">{{type.title}}</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{type.price}}</li>
              <li class="list-group-item">{{type.period}}</li>
              <li class="list-group-item">{{type.automatic}}</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Join or Renew</a>
            </div>
          </div>
          {%endif%} {%endfor%}
        </div>
      </div>
    </article>
  </div>
</section>