---
layout: default
custom-css: membership
heroComp: "membership-carousel.html"
---

<article>
  <h2 class="title-dec display-4 text-primary text-center">
    <span class="hrline text-primary pb-2">Why Join CALA?</span>
  </h2>
  <div class="lead">
    <p>
      As one of the major ALA affiliated associations, CALA is the only
      professional organization in North America that 1) promotes better
      communication among Chinese American librarians; 2) serves as a forum for
      the discussion of mutual problems and professional concerns among Chinese
      American librarians; and 3) promotes the development of Chinese and
      American librarianship with scholarships and grants.
    </p>
    <p>
      CALA membership provides access to a variety of opportunities for
      professional networking, continuing education, services, and research. The
      major membership benefits include:
    </p>
  </div>
  <div class="d-flex justify-content-around">
    <div class="card shadow-sm p-3 mb-5 bg-body rounded" style="width: 18rem">
      <img
        src="../assets/images/pexels-chait-goli-1798130.jpg"
        class="card-img-top why-join img-thumbnail"
        alt="chait-goli" />
      <div class="card-body">
        <p class="card-text">
          promotes better communication among Chinese American librarians;
        </p>
      </div>
    </div>
    <div class="card shadow-sm p-3 mb-5 bg-body rounded" style="width: 18rem">
      <img
        src="../assets/images/pexels-ketut-subiyanto-4350093.jpg"
        class="card-img-top why-join img-thumbnail"
        alt="subiyanto" />
      <div class="card-body">
        <p class="card-text">
          serves as a forum for the discussion of mutual problems and
          professional concerns among Chinese American librarians;
        </p>
      </div>
    </div>
    <div class="card shadow-sm p-3 mb-5 bg-body rounded" style="width: 18rem">
      <img
        src="../assets/images/pexels-vantha-thang-4459814.jpg"
        class="card-img-top why-join img-thumbnail"
        alt="scholarships" />
      <div class="card-body">
        <p class="card-text">
          promotes the development of Chinese and American librarianship with
          scholarships and grants.
        </p>
      </div>
    </div>
  </div>
</article>

<artcile>
  <div class="mem-quote p-2 my-5">
    <i class="fa-solid fa-quote-left quote-symbol"></i>
    <figure class="text-center my-5">
      <blockquote class="blockquote">
        <p>
          Any individual or corporate body interested in the purpose of the
          Association may become a member upon payment of the dues as provided
          for in the <span><a href="/resource/#bylaw">Bylaws</a></span
          >.
        </p>
      </blockquote>
      <figcaption class="blockquote-footer my-3">
        <a href="/resource/#bylaw">
          Constitution <cite title="Source Title">Article III</cite>
        </a>
      </figcaption>
    </figure>
  </div>
</artcile>

<article>
  <h2 class="title-dec display-4 text-primary text-center">
    <span class="hrline text-primary pb-2">Membership Types</span>
  </h2>
  <div class="types-container mx-auto overflow-scroll border-1 rounded p-5">
    <div class="d-flex types justify-content-between">
      {%for type in site.membership%} {%if type.title == 'membership'%}
      {%continue%} {%else%}
      <div class="card shadow-sm p-3 mb-5 bg-body rounded" style="width: 18rem">
        <div class="type-icon text-center">{{type.icon}}</div>
        <div class="card-body">
          <h3 class="card-title h5">{{type.title}}</h3>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{type.price}}</li>
          <li class="list-group-item">{{type.period}}</li>
          <li class="list-group-item">{{type.automatic}}</li>
        </ul>
        <div class="card-body">
          <a href="https://cala.wildapricot.org/join-us" class="card-link"
            >Join or Renew</a
          >
        </div>
      </div>
      {%endif%} {%endfor%}
    </div>
  </div>
</article>
