---
layout: default
title: {{ page.Filename }}
---
{% for comm-year in site.data.officer-1 %}
{% capture pageTitle %}{{ page.title | slugify }}{% endcapture %}
{% if comm-year.year == pageTitle %}

<article>
    <div class="container text-center">
        <h1 class="text-center display-6">CALA Board of Directors ({{ pageTitle }})</h1>
        <!-- <p>(consisting of Executive Committee, 15 elected at-large directors and 8 chapter presidents)</p> -->
    </div>
    {% capture arrayLen %}{{ comm-year.title-array | size }}{%endcapture%}
    {% for indexNum in (0..arrayLen) %}
    <div class="container mb-5 col-12 col-md-9 mx-auto">
        <h2 class="h4 fw-normal">{{ comm-year.title-array[indexNum] }}</h2>
        {% assign first-content = comm-year.content-array | json %}
        {% for commmember in first-content[indexNum] %}
        <div class="mx-auto my-4">
            <ul class="list-unstyled mb-2">
                {% for members in commmember[1] %}
                <li class="my-2">
                    {{ members.name }} {% if members.title %}
                    <b>{{ members.title }}</b>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>

    {% endfor %}
</article>

{% endif %}
{% endfor %}
