---
layout: default
heroTop: true
custom-css: index
custom-js: index
---

<section>
  <div class="container-fluid">
    {% include resource-carousel.html %}

    <article class="mt-10">
      <h2 class="display-4 h2-flex">
        <span class="hrline text-primary pb-2"> News Letter </span>
      </h2>
      {{ content }}
    </article>

    <article class="mt-5">
      <h2 class="display-4 h2-flex">
        <span class="hrline text-primary pb-2">Awards, Grants, and Scholarships</span>
      </h2>
      {% include scholarship.html %}
    </article>

    <article class="mt-10">
      <h2 class="display-4 h2-flex">
        <span class="hrline text-primary pb-2">Bylaws & Consitution</span>
      </h2>

      {% assign bylaws-content = site.resource %}
      {% for bylaws in bylaws-content %}
      {% if bylaws.title == "Bylaws and Constitution" %}
      <div class="container d-flex justify-content-center">
        {{ bylaws.content | markdownify }}
      </div>
      {% endif %}
      {% endfor %}
    </article>
  </div>
</section>