---
layout: default
custom-css: index
custom-js: index
heroComp: "resource-carousel.html"
---

<article>
  <h2 class="title-dec display-4 text-primary text-center">
    <span class="hrline text-primary pb-2"> News Letter </span>
  </h2>
  {% include news-letter.html %}
</article>

<article class="mt-5">
  <h2 class="title-dec display-4 text-primary text-center">
    <span class="hrline text-primary pb-2"
      >Awards, Grants, and Scholarships</span
    >
  </h2>
  {% include reward.html %}
</article>

<article>
  <h2 class="title-dec display-4 text-primary text-center" id="bylaw">
    <span class="hrline text-primary pb-2">Bylaws & Consitution</span>
  </h2>
  <div class="d-flex flex-column flex-lg-row">
    <div class="col-12 col-lg-6">
      <h3>Bylaws</h3>
      {% include bylaws.html %}
    </div>
    <div class="col-12 col-lg-6">
      <h3>Constitution</h3>
      {% include constitutions.html %}
    </div>
  </div>
</article>
